* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f9f9f9;
  --black: #141514ff;
  --brown: #341f0dff;
  --orange: #cb6a10ff;
  --green: #9ae19dff;
  --purple: #76427fff;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  color: var(--green);
  font-size: 2rem;
}

h2 {
  color: var(--orange);
  font-size: 1.5rem;
  padding: 1rem 0;
  font-weight: 600;
  text-align: center;
}

h3 {
  color: var(--green);
  font-size: 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

section {
  width: 75vw;
  margin: 2rem auto;
}

header {
  background: var(--black);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: var(--green);
  font-size: 1.1rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--orange);
  text-decoration: underline;
}

#about article {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#about img {
  width: 15vw;
  flex-shrink: 0;
  border-radius: 50%;
  border: 4px solid var(--purple);
  padding: 4px;
}

#about p {
  flex: 1;
}

#video figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
}

.frameVideo {
  width: 60vw;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  border: 4px solid var(--purple);
  padding: 4px;
}

footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--green);
  background-color: var(--purple-500);
  font-weight: bold;
  text-align: center;
}

footer section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

footer img {
  width: 2rem;
  height: 2rem;
  display: block;
  filter: invert(100%);
  transition: filter 0.3s;
}

footer img:hover {
  filter: brightness(0) saturate(100%) invert(65%) sepia(59%) saturate(2437%)
    hue-rotate(213deg) brightness(86%) contrast(88%);
}

.main_contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 85vw;
  min-height: 80vh;
  margin: 0 auto;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

form label {
  color: var(--orange);
}

form input,
textarea {
  padding: 1rem;
  border-radius: 0.75rem;
  border: 2px solid var(--orange);
  font-size: 1rem;
  color: var(--purple);
  outline: none;
}

form input::placeholder, textarea::placeholder {
  color: var(--purple)
}

textarea {
  resize: none;
  height: 5rem;
}

form button {
  background: transparent;
  color: var(--white);
  padding: 0.75rem;
  border: 2px solid var(--orange);
  border-radius: 0.75rem;
  font-weight: 700;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
}

form button:hover {
  background-color: var(--orange);
}

form span {
  color: #ff0000;
  font-size: 0.75rem;
}

.article_mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(52, 31, 13, 0.75);
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 2px dotted var(--orange);
  height: fit-content;
}

.article_mapa address {
  color: var(--green);
}

.article_mapa address p {
  font-weight: 600;
}

.article_mapa iframe {
  align-self: center;
  border-radius: 8px;
  box-shadow: 5px 5px 6px -1px var(--orange);
}

.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .mobile {
    display: block;
  }

  .computador {
    display: none;
  }
}

@media print {
  img {
    display: none;
  }
  p {
    font-size: 250px;
  }
}
